<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href= "assets/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Its a  <em><%= kindOfDay  %></em></h1>
    <% if (dayNum >= 4 ){ %>
        <h1>and Today is <strong style ="color:red"><%= dayName  %></strong></h1>
        <% }else{ %>
            <h1>and Today is <strong style ="color:blue"><%= dayName  %></strong></h1>
            <% }  %>
     
        
   
       
       
</body>
</html>